### Loading the data

In [24]:
import pandas as pd

train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')

train.info()
test.info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     7928 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        7990 non-null   object
 5   Profession       7944 non-null   object
 6   Work_Experience  7239 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      7733 non-null   float64
 9   Var_1            7992 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB

<bound method DataFrame.info of           ID  Gender Ever_Married  Age Graduated     Profession  \
0     458989  Female          Yes   36       Yes       Engineer
1     458994    Male          Yes   37       Yes     Healthcare
2     458996  Female          Yes   69        No            NaN
3     459000    Male          Yes   59        No      Executive
4     459001  Female           No   19        No      Marketing
...      ...     ...          ...  ...       ...            ...
2622  467954    Male           No   29        No     Healthcare
2623  467958  Female           No   35       Yes         Doctor
2624  467960  Female           No   53       Yes  Entertainment
2625  467961    Male          Yes   47       Yes      Executive
2626  467968  Female           No   43       Yes     Healthcare

      Work_Experience Spending_Score  Family_Size  Var_1 Segmentation
0                 0.0            Low          1.0  Cat_6            B
1                 8.0        Average          4.0  Cat_6            A
2                 0.0            Low          1.0  Cat_6            A
3                11.0           High          2.0  Cat_6            B
4                 NaN            Low          4.0  Cat_6            A
...               ...            ...          ...    ...          ...
2622              9.0            Low          4.0  Cat_6            B
2623              1.0            Low          1.0  Cat_6            A
2624              NaN            Low          2.0  Cat_6            C
2625              1.0           High          5.0  Cat_4            C
2626              9.0            Low          3.0  Cat_7            A

[2627 rows x 11 columns]>

In [25]:
print("Shape of the data train:",train.shape)
print(train.head(5))

print("Shape of the data test:",test.shape)
print(test.head(5))

Shape of the data train: (8068, 11)
       ID  Gender Ever_Married  Age Graduated     Profession  Work_Experience  \
0  462809    Male           No   22        No     Healthcare              1.0
1  462643  Female          Yes   38       Yes       Engineer              NaN
2  466315  Female          Yes   67       Yes       Engineer              1.0
3  461735    Male          Yes   67       Yes         Lawyer              0.0
4  462669  Female          Yes   40       Yes  Entertainment              NaN

  Spending_Score  Family_Size  Var_1 Segmentation
0            Low          4.0  Cat_4            D
1        Average          3.0  Cat_4            A
2            Low          1.0  Cat_6            B
3           High          2.0  Cat_6            B
4           High          6.0  Cat_6            A
Shape of the data test: (2627, 11)
       ID  Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
0  458989  Female          Yes   36       Yes    Engineer              0.0
1  458994    Male          Yes   37       Yes  Healthcare              8.0
2  458996  Female          Yes   69        No         NaN              0.0
3  459000    Male          Yes   59        No   Executive             11.0
4  459001  Female           No   19        No   Marketing              NaN

  Spending_Score  Family_Size  Var_1 Segmentation
0            Low          1.0  Cat_6            B
1        Average          4.0  Cat_6            A
2            Low          1.0  Cat_6            A
3           High          2.0  Cat_6            B
4            Low          4.0  Cat_6            A

### Cleaning the data

In [26]:
train = train.drop("ID", axis = 1)
print(train.isnull().sum())

test = test.drop("ID", axis = 1)
print(test.isnull().sum())

Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64
Gender               0
Ever_Married        50
Age                  0
Graduated           24
Profession          38
Work_Experience    269
Spending_Score       0
Family_Size        113
Var_1               32
Segmentation         0
dtype: int64

In [27]:
train['Work_Experience'] = train['Work_Experience'].fillna(0)
train = train.dropna()
print(train.isnull().sum())

test['Work_Experience'] = test['Work_Experience'].fillna(0)
test = test.dropna()
print(test.isnull().sum())

Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
dtype: int64
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
dtype: int64

In [28]:
# Kiểm tra các hàng trùng lặp
print(train.duplicated().sum())
# Xóa các hàng trùng lặp và giữ lại hàng đầu tiên
train = train.drop_duplicates(keep='first')

# Kiểm tra các hàng trùng lặp
print(test.duplicated().sum())
# Xóa các hàng trùng lặp và giữ lại hàng đầu tiên
test = test.drop_duplicates(keep='first')

486
35

In [29]:
# Kiểm tra các giá trị không hợp lệ trong cột 'Age'
invalid_ages = train.loc[(train['Age'] < 18) | (train['Age'] > 100)]
print(invalid_ages)
# Xóa các hàng chứa giá trị không hợp lệ trong cột 'Age'
train = train.drop(invalid_ages.index)

# Kiểm tra các giá trị không hợp lệ trong cột 'Age'
invalid_ages = test.loc[(test['Age'] < 18) | (test['Age'] > 100)]
print(invalid_ages)
# Xóa các hàng chứa giá trị không hợp lệ trong cột 'Age'
test = test.drop(invalid_ages.index)

Empty DataFrame
Columns: [Gender, Ever_Married, Age, Graduated, Profession, Work_Experience, Spending_Score, Family_Size, Var_1, Segmentation]
Index: []
Empty DataFrame
Columns: [Gender, Ever_Married, Age, Graduated, Profession, Work_Experience, Spending_Score, Family_Size, Var_1, Segmentation]
Index: []

In [30]:
# from sklearn.preprocessing import MinMaxScaler

# # Normalize
# scaler = MinMaxScaler()
# train[['Age', 'Work_Experience', 'Family_Size']] = scaler.fit_transform(train[['Age', 'Work_Experience', 'Family_Size']])

In [31]:
# Convert 'Gender' column to numerical values
train = pd.get_dummies(train, columns=['Gender'])
train = pd.get_dummies(train, columns=['Ever_Married'])
train = pd.get_dummies(train, columns=['Graduated'])
train = pd.get_dummies(train, columns=['Profession'])
train = pd.get_dummies(train, columns=['Spending_Score'])
train = pd.get_dummies(train, columns=['Var_1'])
               
test = pd.get_dummies(test, columns=['Gender'])
test = pd.get_dummies(test, columns=['Ever_Married'])
test = pd.get_dummies(test, columns=['Graduated'])
test = pd.get_dummies(test, columns=['Profession'])
test = pd.get_dummies(test, columns=['Spending_Score'])
test = pd.get_dummies(test, columns=['Var_1'])

### Split data

In [32]:
import numpy as np

x_train = np.asarray(train.drop("Segmentation", axis=1))
y_train = np.asarray(train['Segmentation'])

x_test = np.asarray(test.drop("Segmentation", axis=1))
y_test = np.asarray(test['Segmentation'])

### Machine learning

#### LogisticRegression

In [33]:
from sklearn import linear_model
from sklearn.model_selection import cross_val_score

# Định nghĩa mô hình
model = linear_model.LogisticRegression(max_iter=1000)

# Huấn luyện mô hình trên tập huấn luyện
model.fit(x_train, y_train)

LogisticRegression(max_iter=1000)

In [34]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Predict on test set
y_pred = model.predict(x_test)

# Calculate evaluation metrics
acc = accuracy_score(y_test, y_pred)

print('Accuracy:', acc)

Accuracy: 0.3222647935291613

#### K-Nearest Neighbors

In [35]:
from sklearn.neighbors import KNeighborsClassifier
k = 49
knn = KNeighborsClassifier(n_neighbors=k)
score = cross_val_score(knn, x_train, y_train, cv=10, scoring='accuracy').mean()

print(f"The optimal number of neighbors is {k}")
print(score)

The optimal number of neighbors is 49
0.4567489114658926

#### Support Vector Machines (SVM)

In [36]:
from sklearn import svm

linear_svm = svm.SVC(kernel='linear')
linear_svm_score = cross_val_score(linear_svm, x_train, y_train, cv=10, scoring='accuracy').mean()
print(linear_svm_score)

0.47735849056603785

#### Linear and RBF Kernels

In [37]:
rbf = svm.SVC(kernel='rbf')
rbf_score = cross_val_score(rbf, x_train, y_train, cv=10, scoring='accuracy').mean()
print(rbf_score)

0.4404934687953556